* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --brand-color:#EF5F4C;
   --background-color:#FFFFFF;
   --surface-color: #F5F5F5;
   --skeleton-color: #D9D9D9;
   --shape-transparency: #FFFFFF8f;
   --text-color-primary: #313131;
   --text-color-secondary: #6C6C6C;

   --font-family: "Poppins", sans-serif;
   --text-lg: bold 32px/125% var(--font-family);
   --text: 16px/1.5 var(--font-family) ;
   --text-md: 14px/170% var(--font-family);
   --text-sm: 12px/170% var(--font-family);
}

body {
    font: var(--text);
    color: var(--text-color-secondary);
    background-color: var(--background-color);
}

a {
   text-decoration: none;
   color: inherit;
}

a:hover{
   color: var(--brand-color);
   text-decoration: underline;
}

.container {
   padding-inline: 32px;
   max-width: 1280px;
   margin-inline: auto;
}

.bg-surface-color {
   background-color: var(--surface-color);
}

@media (width <= 24em) {
   & .container {
      max-width: 375px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;


      & #profile {
         display: flex;
         flex-direction: column; 
         align-items: start; 
         text-align: start;
         overflow: hidden; 

         & p {
         width: 296px;
         height: 144px;
         }

         & img {
            width: 160px;
            height: 160px;
            display: flex;
            align-items: start;
            justify-content: start;
            padding: 0;

         }
       }

         & #info {
            display: flex;
            position: relative;
            padding-block: 2rem;
         }
       }

       & nav {
         display: flex;
         flex-direction: row;
         align-items: center;
         

         & a#logo {
            position: relative;
             margin-left: -20px;
         }

         & #primary-menu {

            & li:nth-child(1) {
               position: relative;
               bottom: 50px;
               left: 250px;
            }
            & li:nth-child(4) {
               position: relative;
               bottom: 50px;
               left: 250px;
            }

            & li:nth-child(2) {
               display: none;
            }
            & li:nth-child(3) {
               display: none;
            }
         }
       }

       & main {
      width: 350px;
       }

      & footer {
         display: flex;
         
         & .mobile {
            display: flex;
            text-align: center;
            margin-inline: auto;
            gap: 25px;
         }
       &  span:nth-child(1) {
         margin-inline: auto;
       }

      }
   }